@import url(./font.css);

body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 16px;
  font-weight: 400;
}

p {
  display: inline-block;
}

header {
  padding: 26px 20px;

  background-color: #f2e9d8;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1320px;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  margin-left: auto;
} */


nav img {
  width: 130px;
  height: 40px;
}

ul {
  list-style: none;

  display: flex;
  flex-direction: row;
  gap: 30px;
}

nav li:nth-child(4) {
  padding-left: 10px;
}

a {
  margin-right: auto;
  text-decoration: none;
  font-size: 16px;
  color: black;
}

.button {
  padding: 15px 30px;
  background-color: #D97652;
  
  font-weight: 700;
  color: white;


  border-radius: 40px;
}

.menu-bt {
  display: none;
}

main {
  width: 100%;

}

.ad {
  width: 100%;
  background-color: #F2E9D8;
}

.section-ad {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  padding: 134px 20px 0px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ad-text {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.section-ad h2 {
  font-size: 48px;
  font-weight: 700;
}

.section-ad p {
  margin-top: 40px;
}

.section-ad div a {
  margin-top: 40px;
}

.ad-img {
  width: 415px;
  height: 766px;
  position: relative;
}

.ad-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.best {
  display: flex;
  justify-content: center;
}

.section-best {
  max-width: 1320px;
  padding: 80px 20px 120px 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 110px;
}

.section-best img {
  width: 50%;
  aspect-ratio: 22 /13;
  object-fit: contain;

  border-radius: 30px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 25%);
}

.section-best h2 {
  font-size: 36px;
  font-weight: 700;
}

.section-best p {
  margin-top: 30px;
}

.recommened {
  display: flex;
  justify-content: center;
}

.section-recommened {
  max-width: 1320px;
  padding: 0px 20px 90px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90px;
}

.title {
  text-align: center;
}

.section-recommened h2 {
  font-size: 48px;
  font-weight: 700;
  color: #D97652;
}

.subtext {
  margin-top: 40px;
}

.section-recommened p span {
  color: #D97652;
}

.section-recommened ul li img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;

  border-radius: 30px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 25%);
}

.section-recommened ul {
  gap: 72px;
}

.learn-more {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 52px;
}

.section-warp{
  width: 100%;
  margin: auto;
}

.section-submit {
  padding: 0px 20px;
}

.section-warp section {
  position: relative;
  max-width: 1320px;
  margin: auto;
}

.submit-warp {
  width: 100%;
  padding: 50px 58px;
  border-radius: 30px;
  background-color: #263140;

  position: absolute;
  z-index: 30;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit-text {
  color: white;
}

.section-text h2 {
  font-size: 36px;
  font-weight: 700;
}

.section-text p {
  font-size: 14px;

  margin-top: 18px;
}

input {
  border: 0;
}

form img {
  margin-right: 16px;
}

.email-feild {
  padding: 5px 5px 5px 28px;
  background-color: white;
  border-radius: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 129px;;
}

.email-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-img {
  top: 106px;
  width: 100%;
  height: 0;
  padding-top: 340px;
  position: relative;
}

.background-img img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.scroll-warp {
  position: absolute;
  left: 96%;
  z-index: 50;
}

.scroll-warp a {
  width: 50px;
  height: 50px;
  background-color: white;
  border: solid 1px #C4C4C4;
  border-radius: 25px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-bt {
  opacity: 50%;
}

.scroll-bt:hover {
  opacity: 100%;
}

footer {
  padding: 160px 20px 45px 20px;
  margin: auto;
  width: 100%;
  max-width: 1320px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer img {
  width: 226px;
  height: 70px;
}

footer ul {
}

footer a {
  padding: 9px;
  border-radius: 24px;
  background-color: #F29D52;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer ul img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
