@media screen and (max-width: 360px) {
  body {
    font-size: 14px;
  }

  header {
    padding: 22px 20px;
  }
  h1 {
    font-size: 0px;
  }
  h1 img {
    width: 92px;
    height: 28px;
  }
  nav li:nth-child(-n+4) {
    display: none;
  }
  .button {
    padding: 11px 24px;
    background-color: #D97652;
    font-weight: 700;
    color: white;
    border-radius: 40px;
  }
  .menu-bt {
    display: block;
    width: 32px;
    height: 32px;
  }

  section {
    padding: 0px 32px;
  }

  .content {
    padding-top: 116px;
  }
  .ad {
    text-align: center;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
  }
  .ad h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .ad p {
    margin-bottom: 30px;
  }
  .ad img {
    width: 197px;
    height: 422px;
  }

  .about {
    margin-bottom: 60px;
    flex-direction: column;
    gap: 40px;
  }
  .about img {
    width: 100%;
    border-radius: 18px;
  }
  .about h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .blog .title {
    margin-bottom: 40px;
  }
  .blog h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .blog ul {
    gap: 20px;
    margin-bottom: 20px;
  }
  .blog li img {
    border-radius: 18px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 25%);
  }
  .blog .learn-text {
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
  }

  .subscribe {
    max-width: 326px;
    border-radius: 18px;
    padding: 36px 32px 30px 32px;

    flex-direction: column;
  }
  .subscribe h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .subscribe p {
    margin-bottom: 30px;
  }
  .email-feild {
    max-width: 262px;
    padding: 11px 16px;
    margin-bottom: 50px;
  }
  .email .button {
    top: 60px;
    margin-right: 0px;
  }
  .container {
    top: 280px;
    padding-top: 240px;
  }
  .scroll-bt {
    display: none;
  }
  footer {
    padding: 307px 20px 24px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer .warp {
    flex-direction: column;
    align-items: baseline;
    gap: 58px;
  }
  footer img {
    width: 112px;
    height: 34px;
  }
  footer ul {
    display: flex;
    gap: 16px;
  }
  footer a img {
    width: 18px;
    height: 18px;
  }
  footer .sitemap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  footer a {
    color: #767676;
  }

  .menulist {
    width: 75%;
    height: 100%;
    top: 0;
    right: 0;
    padding: 20px 22px;
    background-color: #263140;

    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 66px;
    z-index: 100;
  }
  .menulist ul {
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 30px;
  }
  .menulist li:nth-child(4) {
    margin-top: 20px;
  }
  .menulist li a {
    color: white;
    font-weight: 700;
  }
  .hamburger-menu .background {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 25%;

    position: fixed;
    z-index: 80;
  }
}